:root {
  /* PRIMITIVES */
  --base-base-white: #ffffff;
  --base-base-black: #171717;
  --primary-primary: #08c269;
  --secondary-secondary: #feba4d;
  --success-success: #a4f4e7;
  --warning-warning: #f4c790;
  --error-error: #e4626f;
  --primary-primary100: #e1fef0;
  --primary-primary200: #c4fde1;
  --primary-primary300: #a6fbd3;
  --primary-primary400: #89fac4;
  --primary-primary500: #6bf9b5;
  --primary-primary600: #4ef8a6;
  --primary-primary700: #30f697;
  --primary-primary800: #12f589;
  --primary-primary900: #09e079;
  --primary-primary1000: #07aa5c;
  --primary-primary1100: #06924f;
  --primary-primary1200: #057942;
  --primary-primary1300: #046135;
  --primary-primary1400: #034927;
  --secondary-secondary100: #fff4e1;
  --secondary-secondary200: #ffe8c4;
  --secondary-secondary300: #ffdca6;
  --secondary-secondary400: #fed188;
  --secondary-secondary500: #fec56b;
  --secondary-secondary600: #feaf31;
  --secondary-secondary700: #fea516;
  --secondary-secondary800: #f69801;
  --secondary-secondary900: #db8701;
  --secondary-secondary1000: #bf7601;
  --secondary-secondary1100: #a36501;
  --secondary-secondary1200: #885401;
  --secondary-secondary1300: #6c4301;
  --secondary-secondary1400: #513200;
  --neutrals-base-white: #ffffff;
  --neutrals-neutrals100: #f0f0f0;
  --neutrals-neutrals200: #e0e0e0;
  --neutrals-neutrals300: #d1d1d1;
  --neutrals-neutrals400: #c1c1c1;
  --neutrals-neutrals500: #b2b2b2;
  --neutrals-neutrals600: #a2a2a2;
  --neutrals-neutrals700: #939393;
  --neutrals-neutrals800: #838383;
  --neutrals-neutrals900: #747474;
  --neutrals-neutrals1000: #646464;
  --neutrals-neutrals1100: #555555;
  --neutrals-neutrals1200: #454545;
  --neutrals-neutrals1300: #363636;
  --neutrals-neutrals1400: #262626;
  --neutrals-base-black: #171717;
  --success-success100: #a4f4e7;
  --success-success200: #15b097;
  --success-success300: #0b7b69;
  --warning-warning100: #f4c790;
  --warning-warning200: #eda145;
  --warning-warning300: #cc7914;
  --error-error100: #e4626f;
  --error-error200: #c03744;
  --error-error300: #8c1823;
  --spacing-base: 16px;
  --spacing-base-rem: 1rem;
  --spacing-xxs: 2px;
  --spacing-xxs-rem: 0.125rem;
  --spacing-xs: 4px;
  --spacing-xs-rem: 0.25rem;
  --spacing-s: 6px;
  --spacing-s-rem: 0.375rem;
  --spacing-sm: 8px;
  --spacing-sm-rem: 0.5rem;
  --spacing-m: 12px;
  --spacing-m-rem: 0.75rem;
  --spacing-ml: 20px;
  --spacing-ml-rem: 1.25rem;
  --spacing-l: 24px;
  --spacing-l-rem: 1.5rem;
  --spacing-xl: 40px;
  --spacing-xl-rem: 2.5rem;
  --radius-sharp: 0px;
  --radius-sharp-rem: 0rem;
  --radius-xxs: 2px;
  --radius-xxs-rem: 0.125rem;
  --radius-xs: 2px;
  --radius-xs-rem: 0.125rem;
  --radius-s: 4px;
  --radius-s-rem: 0.25rem;
  --radius-sm: 6px;
  --radius-sm-rem: 0.375rem;
  --radius-m: 10px;
  --radius-m-rem: 0.625rem;
  --radius-ml: 16px;
  --radius-ml-rem: 1rem;
  --radius-lg: 24px;
  --radius-lg-rem: 1.5rem;
  --radius-xl: 36px;
  --radius-xl-rem: 2.25rem;
  --radius-round: 999px;
  --radius-round-rem: 62.4375rem;
  --spacing-2xl: 64px;
  --spacing-2xl-rem: 4rem;
  --spacing-3xl: 80px;
  --spacing-3xl-rem: 5rem;
  --spacing-4xl: 120px;
  --spacing-4xl-rem: 7.5rem;
  --spacing-none: 0px;
  --spacing-none-rem: 0rem;
  --spacing-ll: 32px;
  --spacing-ll-rem: 2rem;

  /* TYPOGRAPHY */
  --font-size-100: 12px;
  --font-size-100-rem: 0.75rem;
  --font-size-200: 14px;
  --font-size-200-rem: 0.875rem;
  --font-size-300: 16px;
  --font-size-300-rem: 1rem;
  --font-size-400: 18px;
  --font-size-400-rem: 1.125rem;
  --font-size-500: 20px;
  --font-size-500-rem: 1.25rem;
  --font-size-600: 24px;
  --font-size-600-rem: 1.5rem;
  --font-size-700: 32px;
  --font-size-700-rem: 2rem;
  --font-size-800: 48px;
  --font-size-800-rem: 3rem;
  --font-size-900: 64px;
  --font-size-900-rem: 4rem;
  --font-family-headline: "Inter";
  --font-family-text: "Inter";
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* GRADIENTS */
  --linear-green-stop-1-color: #08c269;
  --linear-green-stop-1-position: 0%;
  --linear-green-stop-2-color: #06924f;
  --linear-green-stop-2-position: 100%;
  --linear-green-dark-stop-1-color: #07aa5c;
  --linear-green-dark-stop-1-position: 0%;
  --linear-green-dark-stop-2-color: #046135;
  --linear-green-dark-stop-2-position: 100%;

  /* SHADOWS */
  --elevation-02: 0 6px 13px 0 rgba(0 0 0 / 0.1), 0 24px 24px 0 rgba(0 0 0 / 0.09), 0 55px 33px 0 rgba(0 0 0 / 0.05), 0 97px 39px 0 rgba(0 0 0 / 0.01), 0 152px 43px 0 rgba(0 0 0 / 0);
  --elevation-01: 0 31px 68px 0 rgba(0 0 0 / 0.1), 0 123px 123px 0 rgba(0 0 0 / 0.09), 0 276px 166px 0 rgba(0 0 0 / 0.05), 0 491px 196px 0 rgba(0 0 0 / 0.01), 0 767px 215px 0 rgba(0 0 0 / 0);
  --focused-ghost: 0 0 0 4px #d1d1d1;
  --focused-primary: 0 0 0 4px #262626;
}
